body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading {}
.loading span {
    /* span 태그의 default display 속성 inline에서 가로 배치를 위해 inline-block 사용 */
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: lightslategray;
    border-radius: 50%;

    /**
     * 애니메이션 적용
     * @animation: 애니메이션이름 재생기간 선형적으로 무한반복;
     */
    animation: loading 1s linear infinite;
}
.loading span:nth-child(1) {}
.loading span:nth-child(2) {}
.loading span:nth-child(3) {}

@keyframes loading {
    0%, 100% {
        opacity: 0;
        transform: scale(0.5);
    }
    50% {
        opacity: 1;
        transform: scale(1.0);
    }
}
