@font-face {
    font-family: 'BMEuljiro10yearslater';
    src: url('../fonts/BMEuljiro10yearslater.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'BMEuljiro10yearslater', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;

    background-image: url('../images/netflix.jpg');
    background-position: center center;
    background-attachment: fixed;
}

body:before {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.search {
    border: 1px solid #fff;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}
.search h1, h2, h3 {
    color: #fff;
    text-align: center;
    font-weight: normal;
}
.search input {}
