
/**
 * responsive.css
 * mobile 버전의 css 파일을 별도로 두기
 *
 * 1. width가 px로 되어 있는 요소는 100%로 변경
 * 2. display: flex; 의 경우 direction을 column으로 변경
 */
@media (max-width: 768px) {
    header {
        /* display: none; */
    }
    nav {
        /* TODO: style.css에서 nav 태그의 width 값을 참고해서 반응해보세요. */
        width: 100%;
        padding: 0 20px;
    }
    .heading h1 {
        font-size: 36px;
        margin-bottom: 35px;
    }
    .heading p {
        font-size: 18px;
        line-height: 1.5em;
        padding: 0 100px;
    }

    /* 1. contents */
    .contents {
        /* border: 3px solid goldenrod; */
        width: 100%;
        /* 바짝 붙는 거 방지 */
        padding: 15px;

        /* TODO: 위에서 준 width와 padding에서 추가된 길이를 제외해보세요. */
        box-sizing: border-box;
    }

    /**
     * Profile section
     */
    .profile-content {
        /* TODO: flex 가로 배치 되어있는 부분을 세로로 변경 */
        flex-direction: column;
        /* mobile 환경에서 컨텐츠 간 사이가 너무 떨어져 보이므로 조정 */
        padding: 50px 0;
    }

    /**
     * Portfolio section(projects)
     */
    .projects {
        /* border: 3px solid tomato; */
        /* TODO: flex 가로 배치 되어있는 부분을 세로로 변경 */
        flex-direction: column;
    }
    .project {
        /* border: 3px solid turquoise; */
        width: 100%;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    /* TODO: font-size 조절 */
    .call-to-action h2 {
        font-size: 36px;
    }
}
