* {
  font-family: sans-serif;
}

body {
  margin: 0;
  line-height: 1.5em;
}

/* Reset CSS */
a{text-decoration:none}
h1,h2,h3,h4,h5,h6{margin:0;font-weight:500}
button,input,textarea{outline:0}
button{cursor:pointer}
ul{margin:0;padding:0;list-style:none}

/* Common CSS */
.contents {
    border: 1px solid salmon;
    width: 1280px;

    /* Home 영역의 h1, p 태그가 수평 중앙으로 설정되어 있는 이유 */
    margin: auto;
}

/* Header: block */
header {
  /* absolute || inline -> inline(기존 100% 없어짐) */
  position: fixed;
  width: 100%;
}
.banner {}
.lnb {
  background-color: #fff;
  text-align: center;
}
.lnb a {

}

nav {
  border: 3px solid lightblue;
  width: 1280px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.logo {}
.gnb {
  /* default horizontal */
  display: flex;
}
.gnb li {}
.gnb li a {
  margin: 20px;
}
.gnb li a:last-child() {
  margin-right: 0;
}

/* Home */
.home {
  border: 5px solid maroon;
  height: 100vh;
  background: url('../images/man.jpg') no-repeat center center;
  background-size: cover;
  display: flex; 
}
.heading {}
.heading h1 {}
.heading p {}

/**
 * Profile section
 */
.profile-content {
  border: 5px solid #000;
  display: flex;
  /* flex: 5; */
  padding: 100px 0;
}

.profile-content div {
  padding: 30px;
}

.photo {
  flex: 2;
}
.photo img {
  /* width: 500px; */
  width: 100%;

  /**
   * @see https://9elements.com/blog/css-border-radius/
   */
  border-radius: 40% 60% 70% 30% / 60% 40% 60% 40%;
}

.description {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  flex: 3;
}
.description h2 {
  font-size: 30px;
  margin-bottom: 30px;
}
.description p {
  font-size: 16px;
  line-height: 1.7rem;
}
.description a {
  color: tomato;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
}
.description a:hover {
  text-decoration: underline;
}
