* {
  font-family: sans-serif;
}

body {
  margin: 0;
  line-height: 1.5em;
}

/* Common CSS */
.contents {
    border: 1px solid salmon;
    width: 1280px;

    /* Home 영역의 h1, p 태그가 수평 중앙으로 설정되어 있는 이유 */
    margin: auto;
}

/* Header: block */
header {
  /* absolute || inline -> inline(기존 100% 없어짐) */
  /* sections 작업을 위해 고정 해제 */
  position: absolute;
  /* position: fixed; */
  width: 100%;
}
.banner {}
.lnb {
  background-color: #fff;
  text-align: center;
}
.lnb a {

}

nav {
  border: 3px solid lightblue;
  width: 1280px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.logo {}
.gnb {
  /* default horizontal */
  display: flex;
}
.gnb li {}
.gnb li a {
  margin: 20px;
}
.gnb li a:last-child() {
  margin-right: 0;
}

/* Home */
.home {
  border: 5px solid maroon;
  height: 100vh;
  background: url('../images/man.jpg') no-repeat center center;
  background-size: cover;
  display: flex; 
}
.heading {}
.heading h1 {}
.heading p {}

/**
 * Profile section
 */
.profile-content {
  border: 5px solid #000;
  display: flex;
  /* flex: 5; */
  padding: 100px 0;
}

.profile-content div {
  padding: 30px;
}

.photo {
  flex: 2;
}
.photo img {
  /* width: 500px; */
  width: 100%;

  /**
   * @see https://9elements.com/blog/css-border-radius/
   */
  border-radius: 40% 60% 70% 30% / 60% 40% 60% 40%;
}

.description {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  flex: 3;
}
.description h2 {
  font-size: 30px;
  margin-bottom: 30px;
}
.description p {
  font-size: 16px;
  line-height: 1.7rem;
}

/* call-to-action section */
.call-to-action {
  height: 450px;
  background: url('../images/call-to-action.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 5;
}
.call-to-action:before {
  content: '';
  background: linear-gradient(90deg, rgba(65, 89, 208, 0.438) 0%,rgba(200, 80, 192, 0.411) 35%, rgba(255, 205, 112, 0.671) 100%);
  width: 100%;
  height: 450px;
  position: absolute;
  z-index: -2;
}
.call-to-action h2 {
  color: #ffffff;
  font-size: 48px;
  line-height: 1.3em;
  font-weight: 300;
  letter-spacing: -1px;
  margin-bottom: 50px;
  border-radius: 10px;
}
.call-to-action a {
  border: 1px solid #000;
  background-color: #fff;
  padding: 15px 25px;
  border-radius: 20px;
}

/* Contact me section */
.contact {
  height: 270px;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact div {
  text-align: center;
}
.contact h3{
  color: #ffffff;
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 30px;
}
.contact h3 span {
  font-weight: 500;
}
.btns a {
  background-color: #fff;
  /* padding: 10px; */
  display: inline-block;
  width: 200px;
  padding: 6px;
  border-radius: 10px;
  margin: 5px;
}
.btns a:nth-child(1) {
  background-color: gold;
  color: #ffffff;
}
.btns a:nth-child(2) {
  background-color: whitesmoke;
  color: #222222;
}
