@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

body {
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Nanum Myeongjo';
}

.ico {
    display: block;
    margin: 0 auto;
    background: url("../images/ico_brunch_v1_200824.png");
    background-position: -80px -580px;
    width: 52px;
    height: 52px;
}
