@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

body {
  font-family: 'Nanum Gothic', sans-serif;
  margin: 0;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

a {
  color: #222;
  text-decoration: none;
}

h1 {
  font-family: 'Nanum Myeongjo';
  text-align: center;
}

header {
    /* border: 1px solid lightgray; */
    background-color: #fff;
    height: 60px;
    text-align: center;
    padding-top: 3px;
    box-sizing: border-box;
}
.ico {
  display: block;
  margin: 0 auto;
  background: url('../images/ico_brunch_v1_200824.png');
  background-position: -80px -580px;
  width: 52px;
  height: 52px;
}

section {
    /* border: 1px solid brown; */
}
.signin {
}
.signin-type {}
.btn {
    border: 1px solid cadetblue;
    display: block;
    text-align: center;
    /* height: 50px;
    line-height: 50px; */
    padding: 15px;
    border-radius: 3px;
    margin-bottom: 10px;
}
footer p {}
footer p a {}
